<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Monitoramento de CLPs</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap">
    <link rel="stylesheet" th:href="@{/css/store.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>

<body>
    <!-- SideBar -->
    <div class="sidebar">
        <div class="sidebar-header">
            <h2>Bancada 4.0</h2>
        </div>
        <nav class="sidebar-nav">
            <ul>
                <li>
                    <a href="smartPing">
                        <span class="material-symbols-rounded">power</span>
                        <span>Conexão</span>
                    </a>
                </li>
                <li>
                    <a href="store">
                        <span class="material-symbols-rounded">home</span>
                        <span>Pedido</span>
                    </a>
                </li>
                <li>
                    <a href="/" class="active">
                        <span class="material-symbols-rounded">description</span>
                        <span>Formulário</span>
                    </a>
                </li>
            </ul>
        </nav>

        <div id="networkStatus" class="network-status">
            <span class="material-symbols-rounded">network_ping</span>
            <span>Rede: Desconectado</span>
        </div>
    </div>

    <!-- Conteúdo Principal -->
    <div class="main-container">
        <div class="container">
            <header class="header">
                <h1>Gerenciamento</h1>
            </header>

            <main class="main-content">
                <div class="form-section">
                    <h2>Leitura dos dados da Bancada Smart 4.0</h2>

                    <h3>Estoque (CLP 1 - Matriz de 28 bytes)</h3>
                    <div id="clp1-grid" class="grid"></div>

                    <!-- Seção de cores -->
                    <div id="color-buttons" class="color-buttons" style="display: none;">
                        <h4>Selecione uma cor e clique na posição desejada:</h4>
                        <div class="color-options">
                            <button class="btn color-btn color-empty" onclick="setSelectedColor(0)">Vazio</button>
                            <button class="btn color-btn color-black" onclick="setSelectedColor(1)">Preto</button>
                            <button class="btn color-btn color-red" onclick="setSelectedColor(2)">Vermelho</button>
                            <button class="btn color-btn color-blue" onclick="setSelectedColor(3)">Azul</button>
                        </div>
                    </div>

                    <div class="button-group">
                        <button class="btn btn-primary" onclick="updateStock()">Atualizar Estoque</button>
                        <button id="editBtn" class="btn btn-primary " onclick="enableEditMode()">Editar Estoque</button>
                        <button id="saveBtn" class="btn btn-primary" style="display:none;" onclick="saveStock()">Salvar
                            Alterações</button>
                        <button id="cancelBtn" class="btn btn-secondary" style="display:none;"
                            onclick="cancelEdit()">Cancelar</button>
                    </div>

                    <h3>Expedição (CLP 4 - Matriz de 12 bytes)</h3>
                    <div id="expedition-grid" class="grid expedition-grid"></div>
                    <button class="btn btn-primary" onclick="updateExpedition()">Atualizar Expedição</button>
                </div>

            </main>
        </div>
    </div>

    <script src="/js/index.js"></script>
</body>

</html>